# Port number
PORT=8080

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/pro

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret-pro
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=postal.bolt.sh
SMTP_PORT=25
SMTP_USERNAME=applaunchkit/applaunchkit
SMTP_PASSWORD=
EMAIL_FROM=dev@applaunchk.it

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Minio Configuration
# MINIO_ENDPOINT: This variable specifies the URL or hostname of your MinIO server.
# It's used to connect to your MinIO instance for object storage operations.
# Replace 'your_minio_endpoint' with the actual endpoint of your MinIO server.
# For example: 'minio.example.com' or 'localhost' if running locally.
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Twilio credentials
# You can get your Twilio credentials from your Twilio account dashboard
# It is used for sending OTP to the user's phone number
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_ID=